a {
  text-decoration: none;
  color : black;
}


.nav{
        height : 70px;
        display : flex;
        align-items: center;
        background-color : white;
        color : black;
      }
.nav-right-items{
        display: flex;
        align-items: center;

      }
.nav-item{
        margin-left : 25px;
      }

.bg{
  background-image : url("3bss_bi.jpg");
  height : 510px;

  background-position : center;
  background-repeat : no-repeat;
  background-size : cover;
}

.welcome{
  position: relative;
top: 30px;
left : 40px;
  color : white;

}


.main{
        width : 600px;
        margin : 0 auto;
        margin-top : 60px;
}
.title{
        text-align : center;
        font-size : 60px;
        font-weight : blod;
        margin-bottom : 20px;
      }
.subtitle{
        font-size : 15px;
        font-weight : 300;
        margin-bottom : 20px;
      }

.artists-item{
        width : 250px;
        height : 300px;
        border : 1px solid black;
        margin : 10px;
        border-radius : 4px;
        text-align : center;
      }
.artists{
        display : flex;
      }
.artists-item-title{
        font-size : 1.5rem;
        background : rgba(0,0,0,.03);
        height : 53px;
        line-height : 53px;
        border-bottom : 1px solid black;
      }
      .artists-item-profile{
        font-size : 0.8rem;
        font-weight : 15;
        padding : 10px;
      }
      .artists-item-button{
        color : grey;
        background-color : transparent;
        background-image : none;
        border-color : grey;
        margin-top : 10px;

        padding : .2rem 1rem;
        font-size : .5rem;
        line-height : 1.5;
        border-radius : .3rem;
      }
      .artists-item-button-active{
        background-color : grey;
        color : white;
      }
